$bg_color: #eeebeb;
$font_color: #1a1a1b;
// $bg_color: #1B1C1E;
// $font_color: #dfdddd;
$primary_color: #81B1FA;
$secondary_color: #EDAEF9;
$gradient: linear-gradient(231deg, rgba(129,177,250,1) 0%, rgba(237,174,249,1) 100%);