@import "variables";

.creatWorkout_container{
    padding: 10vh 20vw;
    margin-bottom: 10vh;
    position: relative;
    .btAddContainer{
        position: fixed;
        right: 6vw;
        top: 10vh;
        width: 20vw;
    }
    .btAddExo{
        margin-left: 5%;
    }
    form{
        padding: 0 10vw;
        position: relative;
        input{
            background: rgba(255, 255, 255, 0.077);
            border: none;
            border-radius: 10px;
            color: white;
            font-size: 1.3em;
            padding: 10px 10px;
        }
        label{
            display: inline-block;
            padding-top: 5%;
            padding-bottom: 2%;
        }
        .exercisesInputs{
            padding: 5vh 5vw;
            border-radius: 10px;
            margin: 5vh 0;
            border: 1px solid rgba(255, 255, 255, 0.216);
            & > *{
                width: 100%
            }
        }
        .borderButton{
            position: absolute;
            right: 0;
        }
        .submitInput{
            background: none;
            font-size: 1.4em;
            text-align: end;       
        }
    }
}