header{
    margin-top: 20vh;
    h1{
        padding-bottom: 5%;
    }
    a{
        margin-right: 5%;
        text-decoration: none;
        .borderButton{
            font-size: 1.1em;
            padding: 10px 30px;
        }

    }
}