@import "../styles/variables";

.workoutContainer {
  margin: 3vh 10vw;
  position: relative;
  .workoutsCard_container{
    border: 3px solid $font_color;
    width: 25vw;
    padding: 3% 4%;
    margin: 7vh 0;
    margin-left: 50%;
    transform: translateX(-50%);
    position: relative;
    cursor: pointer;
    @media (max-width: 400px) {
      width: 100%;
    }
    .deleteIcon{
      position: absolute;
      right: 1%;
      top: 1%;
      color: $font_color;
      
    }
    h2{
      padding-bottom: 4%;
      font-size: 3em;
      text-align: center;
    }
    span{
      display: block;
    }
    .description{
      font-style: italic;
      text-align: center;
      padding-bottom: 4%;

    }
    .date{
      text-align: end;
      font-weight: bold;
      margin-top: 6%;
    }
    .exoInfo_container{
      padding: 10% 0;
      .exoInfo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1% 0;
      }
    }
  }
  h1{
    font-size: 5vw;
  }
  .btAddTraining {
    position: absolute;
    right: 5vw;
    @media (max-width: 400px) {
      right: -1vw;
    }
  }
  .exerciseTable {
    width: 40vw;
    padding: 4vh 5vw;
    @media (max-width: 400px) {
      width: 80vw;
      padding: 2vh 0vw;
      &:first-child{
      padding-top: 14vh;

      }
    }
    .exoInfo {
      display: flex;
      justify-content: space-around;
      align-items: center;
      span{
        font-weight: bold;
      }
    }
    .repsContainer {
      width: 70%;
      padding: 5% 0;
      margin-left: 50%;
      transform: translateX(-50%);
      .repRow {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 3% 0;
      }
    }
  }
}
